.parent{
  display: flex;
  justify-content: center;
  column-width: 0cap;
  background-color: rgb(201, 243, 243);
  border-radius: 10cm;
  margin-inline-start: 12cm;
  margin-inline-end: 12cm;
  content: icon;
  -ms-grid-row-align: center;
  color: gray;
  margin-top: 6cm;
  padding: auto;
  border-radius: 13px;
  box-shadow: 0 0 10px 0 black;
}
.child{
  text-align: center;
  padding: 20px;
}
p, h1, h2{
  margin: 0;
  padding: 0;
}
select,
button{
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(97, 16, 202);
  border: 5px solid rgb(68, 5, 149);
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
  margin-right: 20px;
}
button:hover{
  transform: scale(1.09);
}